---
let nombre:string = 'Manuel el mejor de los';
 

---

<div>
    <h2>Hola Mundo 2, Mi nombre es {nombre}</h2>
    <input 
        type="text" 
        placeholder="Escribe aqui algo"
        id="inputText"
    >
</div>


<style>
    h2{
        font-size: 20px;
        color: red;
        font-weight: 400;

    }
</style>

